* {
  font-family: "Roboto", sans-serif;
  transition: 0.5s all;
}

body,
p,span,
h1,
h2,
h3,
h4,
h5,
h6,
em,
ol,
ul,
li,
tr,
th,
td,
dl,
img,
ins,
sub,
sup,
big,
cite,
code,
form,
small,
label,
table,
figure,
button,
legend,
strike,
address,
caption,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
}
input,
select,
textarea {
  margin: 0;
}

a{
  transition: var(--transition);
  text-decoration: none;
  color: rgb(24, 84, 226);
  
}
b,
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
small {
  font-size: 80%;
}
ins {
  text-decoration: none;
}
del {
  opacity: 0.5;
}
sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
hr {
  height: 1px;
  border: none;
}
mark {
  color: inherit;
  font-weight: 600;
  background: rgba(0, 0, 0, 0);
}


.btn{
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgb(0, 94, 255);
  color: white;
  cursor: pointer;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
li{
  cursor: pointer;
}
.important{
  color: brown;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
